<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>End Game</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/end_game.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti"></script>
  <script src="{% static 'js/end_game.js' %}"></script>
</head>
<body>
  <div class="background">
    <img src="{% static 'images/lobby.png' %}">
  </div>
  <p class="{{ message }}">{{ message }}</p>

  <div id="sounds" 
    win-sound="{% static 'sounds/win.wav' %}"
    lose-sound="{% static 'sounds/lose.wav' %}"
  >
</body>
</html>