<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room_name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_room.css' %}">
</head>
<body>
    <div class="background">
        <img src="{{ room_skin }}">
    </div>

    {% if room_name == 'Cozinha' %}
    
        <a href="javascript:void(0)" id="lupa" class="hint_cozinha" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_cozinha" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Sala' %}

        <a href="javascript:void(0)" id="lupa" class="hint_sala" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_sala" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Quarto' %}

        <a href="javascript:void(0)" id="lupa" class="hint_quarto" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_quarto" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Garagem' %}

        <a href="javascript:void(0)" id="lupa" class="hint_garagem" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_garagem" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Sotao' %}

        <a href="javascript:void(0)" id="lupa" class="hint_sotao" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_sotao" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'CasaDeBanho' %}

        <a href="javascript:void(0)" id="lupa" class="hint_casadebanho" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_casadebanho" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Escritorio' %}

        <a href="javascript:void(0)" id="lupa" class="hint_escritorio" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_escritorio" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Berçario' %}

        <a href="javascript:void(0)" id="lupa" class="hint_berçario" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" id="lupa" class="puzzle_berçario" onclick="openModal('puzzleModal')"></a>

    {% else %}

        <!-- Possivelmente aqui fica a pagina da ultima room de todas ok? -->

    {% endif %}

    <a href="javascript:void(0)" class="infos" onclick="openModal('infosModal')"></a>

    <div id="hintModal" class="modal">
        <div class="modal-content">
            <img src="{{ room_hint_skin }}" alt="Dica ampliada">
            <a href="javascript:void(0)" class="back-button" onclick="closeModalOnClick(event)"></a>
        </div>
    </div>

    <div id="puzzleModal" class="modal">
        <div class="modal-content">
            <img src="{{ room_puzzle_skin }}" alt="Puzzle ampliado">
            
            <form id="puzzleForm" onsubmit="submitPuzzleAnswer(event)">
                <input type="text" id="puzzleAnswer" name="puzzleAnswer">
                <button type="submit" id="puzzlebutton">Enviar</button>
            </form>
            
            <div id="feedbackMessage" class="feedback"></div>
            <a href="javascript:void(0)" class="back-button" onclick="closeModalOnClick(event)"></a>
        </div>
    </div>
    
    <div id="infosModal" class="modal">
        <div class="modal-content-infos" style="background-color: {{ color }};">
            <img src="{{ skin }}">
            <p>{{ rule }}</p>
        </div>
    </div>
    
    <script src="{% static 'js/game_room.js' %}"></script>

</body>
</html>
