<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ room_name }}</title>
    <link rel="stylesheet" href="{% static 'css/game_room.css' %}">
</head>
<body>
    <div class="background">
        <img src="{{ room_skin }}">
    </div>

    {% if room_name == 'Cozinha' %}
    
        <a href="javascript:void(0)" class="hint_cozinha" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" class="puzzle_cozinha" onclick="openModal('puzzleModal')"></a>

    {% elif room_name == 'Sala' %}

        <a href="javascript:void(0)" class="hint_sala" onclick="openModal('hintModal')"></a>
        <a href="javascript:void(0)" class="puzzle_sala" onclick="openModal('puzzleModal')"></a>

    {% else %}
        <a href="javascript:history.back()" class="back-button"></a>
    {% endif %}

    <div id="hintModal" class="modal">
        <div class="modal-content">
            <img src="{{ room_hint_skin }}" alt="Dica ampliada">
        </div>
    </div>

    <div id="puzzleModal" class="modal">
        <div class="modal-content">
            <img src="{{ room_puzzle_skin }}" alt="Puzzle ampliado">
        </div>
    </div>

    <script src="{% static 'js/game_room.js' %}"></script>
</body>
</html>
