<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Lobby</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lobby.css' %}">
</head>
<body>

    <div class="background">
        <img src="{% static 'images/Lobby.png' %}">
    </div>

    <div class="lobby-container">
        <div class="player-list">
            <ul id="players">
                {% for player in players %}
                    <li>{{ player.name }}</li>
                {% empty %}
                    <li>No players have joined yet.</li>
                {% endfor %}
            </ul>
        </div>
        <button id="start-game" onClick="onClick()"></button>
    </div>
    <script type="text/javascript" src="{% static 'js/lobby.js' %}"></script>
</body>
</html>