<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Lobby</title>
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}">
</head>
<body>
    <div class="lobby-container">
        <h1>Welcome to the Game Lobby</h1>
        <p>Waiting for players to join...</p>
        <div class="player-list">
            <h2>Players:</h2>
            <ul id="players">
                {% for player in players %}
                    <li>{{ player.name }}</li>
                {% empty %}
                    <li>No players have joined yet.</li>
                {% endfor %}
            </ul>
        </div>
        
        <button id="start-game" onClick="onClick()"  style="--clr:red"><span>Start Game</span><i></i></button>
    </div>
    <script src="{% static 'js/lobby.js' %}"></script>
</body>
</html>