<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Character</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/choose_char.css' %}">
</head>
<body>
  <div class="background">
    <img src="{% static 'images/personagem.png' %}">
  </div>  
  <div class="elements">
    <h1>Choose your character</h1>
    <div class="characters">
      <button id="char1" class="character-btn" data-char-id="1"></button>
      <button id="char2" class="character-btn" data-char-id="2"></button>
      <button id="char3" class="character-btn" data-char-id="3"></button>
      <button id="char4" class="character-btn" data-char-id="4"></button>
      <button id="char5" class="character-btn" data-char-id="5"></button>
      <button id="char6" class="character-btn" data-char-id="6"></button>
      <button id="char7" class="character-btn" data-char-id="7"></button>
      <button id="char8" class="character-btn" data-char-id="8"></button>
    </div>
  </div>
  
  <script type="text/javascript" src="{% static 'js/select_char.js' %}"></script>
</body>
</html>
