<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Shared Screen</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/shared_screen.css' %}">
  <script type="text/javascript" src="{% static 'js/shared_screen.js' %}"></script>
</head>
<body>
  <div class="background">
    <img src="{% static 'images/shared-screen.png' %}">
  </div>  
  <div class="elements">
    <div class="timer"></div>
    <div class="house">
      {% for room_id, data in rooms.items %}
        <div class="room" id="{{ room_id }}">
          {% if data %}
          <div class="room_info">
            <img src="{{ data.skin_url }}" class="character-image">
            <p class="character-name">{{ data.name }}</p>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="sounds" 
    data-start-sound="{% static 'sounds/inicio.wav' %}"
    data-half-sound="{% static 'sounds/metade.wav' %}"
    data-one-minute-sound="{% static 'sounds/minuto.wav' %}"
    data-wrong-answer-sound = "{% static 'sounds/error.mp3' %}">
</div>
  <script type="text/javascript" src="{% static 'js/timer.js' %}"></script>
</body>
</html>
