@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
  
.background {
    z-index: 0;
    position: relative;
}
  
.background img{
    width: 100vw;
    height: 100vh;
}

p {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    font-family: Poppins;
    letter-spacing: 0.5vw;
}

.Vitória {
    display: inline-block;
    color: green;
    font-size: 5vw;
    transition: transform 0.3s ease-in-out;
}

/* Animação de vitória */
.vitoria-animacao {
    animation: aumentarAbanar 2s ease-in-out;
}

@keyframes aumentarAbanar {
    0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.2) rotate(-5deg); }
    50% { transform: scale(1.4) rotate(5deg); }
    75% { transform: scale(1.2) rotate(-5deg); }
    100% { transform: scale(1) rotate(0deg); }
}

.Derrota {
    color: red;
    font-size: 5vw;
    display: inline-block;
    white-space: pre; /* Garante que os espaços são respeitados */
    border-right: 2px solid #721c24; /* Cursor piscando */
    animation: blink-cursor 0.5s step-end infinite;
}

@keyframes blink-cursor {
    from { border-right-color: #721c24; }
    to { border-right-color: transparent; }
}