body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Poppins;
}

.background {
    z-index: 0;
    position: relative;
}

.house-image {
    width: 100vw;
    height: 100vh;
}